*,
::before,
::after {
  box-sizing: border-box;
}

body,
h1,
h2 {
  margin: 0;
}

html {
  font-family: "Poller One";
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
